.btn {
    color: white !important;
}
.link {
    text-decoration: none;
    color: black;
}
.option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
    .option {
        gap: 5px;
    }
    .btn {
        font-size: 14px; 
        padding: 8px;
    }
}
